h1,
h2,
h3,
h4,
p,
li {
	font-family: sans-serif;
	color: #444444;
}

h1,
h2,
h3 {
	color: #1e98ad;
}
h1 {
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
p {
	font-size: 22px;
	line-height: 1.5;
}

li {
	font-size: 20px;
}

#copyright {
	font-size: 16px;
}

#author {
	font-style: italic;
	font-size: 18px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related {
	list-style: none;
}

#main-header {
	background-color: #f7f7f7;
	border-bottom: 5px dashed #80df20;
	padding-bottom: 10px;
}

aside {
	background-color: #f7f7f7;
	border-top: 5px solid #1e98ad;
	border-bottom: 5px solid #1e98ad;
}
li:first-child {
	font-weight: bold;
	color: #df2020;
}

li:last-child {
	font-style: italic;
}

li:first-letter {
	font-size: 200%;
	color: blue;
}

/* *Se puede seleccionar un elemento espesifico o los elemento pares(even) o impares (odd) */
li:nth-child(even) {
	color: rgb(49, 218, 63);
}
li:nth-child(3) {
	color: rgb(210, 25, 216);
}

article p:last-child {
	color: rgb(255, 153, 0);
}

/* ************************ - Styling Links  - ***************************** */

/* *👇Para todos los link que tienen el atributo "href" */
a:link {
	color: #1e98ad;
	text-decoration: none;
	font-family: sans-serif;
}

/* *👇 Para los Link que ya fueron abiertos */
a:visited {
	color: #1e98ad;
}

/* *👇 Cuando pasas el Mouse sobre el Link se activan los estilos */
a:hover {
	color: orangered;
	font-weight: bold;
	text-decoration: underline wavy orangered;
}

/* *👇 Cuando mantienes presionado sobre el Link */
a:active {
	background-color: #80df20;
}

/* * *********** Confict between selecetor (ID, class, selector) ************ */

#copyright {
	color: red;
}
.copyright {
	color: yellow;
}

footer p {
	color: blue;
}

/* * 👆 Por orden de importancia, se aplicara los estilos del selector ID (#copyright) */
